.grid-video {
    transition: ease-in-out 0.5s;
}

.grid-video:hover {
    transform: scale(1.1);
}
@media (max-width: 430px) {
    .grid-video {
        width: 110% !important;
    }

    .grid-video:hover {
        transform: scale(1.5);
        transition: ease-in-out 0.5s;
    }
}


@media (max-width: 412px) {
    .grid-video {
        width: 100% !important;
    }
}

@media (max-width: 390px) {
    .grid-video {
        width: 90% !important;
    }
}